  <footer class="container-column-center">
    <h1>Built by Elie Jerdak</h1>
    <h4>Full-Stack Developer  AI • Backend Systems</h4>

    <div class="footer-links container-between">
      <a href="https://github.com/elie-jerdak"><i class="bi bi-github"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="mailto:jardakelie@gmail.com"><i class="bi bi-envelope-fill"></i></a>
    </div>

    <div>
      <span>© 2026 All rights reserved • </span>
      <span style="text-decoration: underline; text-underline-offset: 3px;"> Terms & Conditions</span>
    </div>
    
  </footer>