<!DOCTYPE html>
<html lang="en">
    <head>
        <div id="head"></div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet"/>
        <link href="static/styles.css" rel="stylesheet" />
        
        <style>
        .title strong {
            color: hsl(155, 100%, 65%);
            /* Multi-layered glow: a crisp core outline + a soft, spread-out neon blur */
            text-shadow: 0 0 10px hsla(155, 100%, 65%, 0.2);
        }
        </style>
    </head>
    <body>
        <div id="navbar"></div>
        
        <main>
            <h1>This is the projects page</h1>
        </main>
        
        <div id="footer"></div>

        <div id-="scripts.html"></div>
  </body>
</html>